body{
    background: black;
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.welcome{
    color:white;
    font-size: 2rem;
    margin-left: 30px;
}

.file-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    width:950px;
    margin-inline: auto;
    margin: auto;
    margin-top: 50px;


}

.file-container >img {
    width:100px
}

.file-container > button{
    padding: 7px 10px;
    background: black;
    border:none;
    border-radius: 7px;
    color:white
}

.file-container{
    width:200px;
    height:250px;

    background:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    border-radius: 7px;
}

